section.hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;

  & h1{
    max-width: 40rem;
    

    & span:nth-child(1) {
      color: var(--snitap-sky-mid);
    }
    & span:nth-child(2) {
      color: var(--snitap-joy-mid);
    }
    & span:nth-child(3) {
      color: var(--snitap-leaf-mid);
    }
    & span:nth-child(4) {
      color: var(--snitap-sky-mid);
    }

    & span {
      display: block;
      animation: slideUp 5s infinite ease ;
    }


    & div {
      display: inline-block;
      height: 5rem;
      width: min-content;
      overflow: hidden;
      vertical-align: bottom;
  
    }
  } 
}

@keyframes slideUp {
 
    0%, 22% {
    transform: translateY(0);
    }
    
    23% {
      transform: translateY(calc(-5rem - 15px));

    }

    25% {
      transform: translateY(calc(-5rem + 15px));

    }

    27% {
      transform: translateY(calc(-5rem - 5px));

    }

    29% {
      transform: translateY(calc(-5rem + 5px));

    }
    

    33%, 55% {
      transform: translateY(-5rem);
    }

 


        56% {
          transform: translateY(calc(-10rem - 15px));
    
        }
    
        58% {
          transform: translateY(calc(-10rem + 10px));
    
        }
    
        60% {
          transform: translateY(calc(-10rem - 5px));
    
        }
    
        62% {
          transform: translateY(calc(-10rem + 5px));
    
        }

    66%, 88% {
      transform: translateY(-10rem);
    }

    90% {
      transform: translateY(calc(-15rem - 15px));

    }

    92% {
      transform: translateY(calc(-15rem + 10px));

    }

    94% {
      transform: translateY(calc(-15rem - 5px));

    }

    98% {
      transform: translateY(calc(-15rem + 5px));

    }


    100%{
      transform: translateY(-15rem);

    }

}


@media (min-width: 20em ) and (max-width: 79em) {
  section.hero {
    width: 100%;
    padding-block: 1.5rem;
  
    & h1{ 
      max-width: 20em;

      & div {
        display: inline-block;
        height: 2.5rem;
        width: min-content;
        overflow: hidden;
        vertical-align: bottom;
    
      }
    }


    & span {
      display: block;
      animation: slideUp 6s infinite ease ;
    }

  
  }  


  @keyframes slideUp {
      0%, 22% {
      transform: translateY(0);
      }
      23% {
        transform: translateY(calc(-2.5rem - 15px));
  
      }
  
      25% {
        transform: translateY(calc(-2.5rem + 15px));
  
      }
  
      27% {
        transform: translateY(calc(-2.5rem - 5px));
  
      }
  
      29% {
        transform: translateY(calc(-2.5rem + 5px));
  
      }
  
      33%, 55% {
        transform: translateY(-2.5rem);
      }
  
  
  
          56% {
            transform: translateY(calc(-5rem - 15px));
      
          }
      
          58% {
            transform: translateY(calc(-5rem + 10px));
      
          }
      
          60% {
            transform: translateY(calc(-5rem - 5px));
      
          }
      
          62% {
            transform: translateY(calc(-5rem + 5px));
      
          }
  
      66%, 88% {
        transform: translateY(-5rem);
      }
  
      90% {
        transform: translateY(calc(-7.5rem - 15px));
  
      }
  
      92% {
        transform: translateY(calc(-7.5rem + 10px));
  
      }
  
      94% {
        transform: translateY(calc(-7.5rem - 5px));
  
      }
  
      98% {
        transform: translateY(calc(-7.5rem + 5px));
  
      }
  
  
      100%{
        transform: translateY(-7.5rem);
  
      }
  
  }


}
